# security
.coveralls.yml

#pdf
*.pdf
*.Rapp.history

*.DS_Store

# tex files in the doc (use just Rnw)
doc/*.tex
doc/*.fls

#Null test draft
null.test/*
#Other drafts
drafts/*
R/MarkOrig/*

# Oldies
inst/old/*

paper/*.fls

inst/gitbook/_bookdown_files/*
