#Dependencies
import(ape)
import(paleotree)

##Functions
export(time.series)
export(cust.series)
export(boot.matrix)
export(dispRity)
export(test.diff)
export(summary.dispRity)
export(plot.dispRity)
export(tree.age) #utilities
export(mode.val) #utilities - not done
export(cor.diversity) #utilities - not done
export(cor.time.pco) #utilities - not done
export(make.metric) #utilities - not done
export(make.model) #utilities - not done
export(make.boot) #utilities - not done


##Data
#export(lifespan)
#export(lifespan_volant_192taxa)

##S3 methods
#S3method(plot, dispRity)
#S3method(summary, dispRity)