#Dependencies
import(ape)
import(paleotree)

##Functions
export(time.series)
export(cust.series)
export(boot.matrix)
export(dispRity)
#export(test.diff) - TO DO
export(tree.age)
export(summary.dispRity)
export(plot.dispRity)
export(print.dispRity)
export(get.dispRity)
#export(mode.val) #utilities - not done
#export(cor.diversity) #utilities - not done
#export(cor.time.pco) #utilities - not done
export(make.metric) #utilities - not done
export(make.model) #utilities - not done
export(make.boot) #utilities - not done

##disparity metrics
export(variances)
export(ranges)
export(centroids)
export(mode.val)


##S3 methods
S3method(plot, dispRity)
S3method(summary, dispRity)
S3method(print, dispRity)
 