##Functions
export(anc.state)
export(anc.unc)
export(bhatt.coeff)
export(pair.bhatt.coeff)
export(disparity)
export(disparity.test)
export(disparity.test.time)
export(int.pco)
export(MorphDistMatrix.verbose)
export(null.data)
export(plot.disparity)
export(slice.pco)
export(slice.tree)
export(time.disparity)
export(tree.age)
export(make.nexus) #utilities
export(cor.diversity) #utilities
export(cor.time.pco) #utilities
export(states.count) #utilities
export(extract.dist) #utilities
export(combine.disp) #utilities
export(lapply.root) #utilities
export(extract.disp) #utilities
export(read.data) #utilities
export(mode.val) #utilities 
export(check.class) #sanitizing
export(check.length) #sanitizing
export(clean.tree) #sanitizing
export(clean.table) #sanitizing
export(bin.tree) #sanitizing

##Data

##S3 methods



#Results should be

##Functions
#export(time.series)
#export(cust.series)
#export(dispRity)
#export(test.diff)
#export(summary.dispRity)
#export(plot.dispRity)
#export(tree.age) #utilities
#export(mode.val) #utilities - not done
#export(cor.diversity) #utilities - not done
#export(cor.time.pco) #utilities - not done
#export(make.metric) #utilities - not done
#export(make.method) #utilities - not done
#export(make.bootstrap) #utilities - not done


##Data
#export(lifespan)
#export(lifespan_volant_192taxa)

##S3 methods
#S3method(plot, dispRity)
#S3method(summary, dispRity)